* {
    margin:0;
    padding:0;
}

:root {
    --font: "Quicksand";
    --cor-primaria: #123181;
    --cor-fundo: #FFFFFF;
    /* --cor-texto-principal: #444444; */
    /* --branco: #FAFAFA; */
    /* --cinza: #EAEAEA; */
    /* --laranja: #FF734C; */
    /* --verde: #41A86A; */
}

html, body {
    min-width: 100%;
}

body{
    font-family: var(--font);
    color:var(--cor-primaria);
    height: 100%;
}
