services:

  db:
    image: postgres
    restart: always
    volumes:
      - ./sql/01-cria-tabelas.sql:/docker-entrypoint-initdb.d/01-cria-tabelas.sql
      - ./sql/02-insert-statements.sql:/docker-entrypoint-initdb.d/02-insert-statements.sql
      - ./sql/03-insert-debug-data.sql:/docker-entrypoint-initdb.d/03-insert-debug-data.sql
      - ./sql/04-insert-test-data.sql:/docker-entrypoint-initdb.d/04-insert-test-data.sql
      - ./init-scripts:/docker-entrypoint-initdb.d
    environment:
      POSTGRES_PASSWORD: $DATABASE_PASSWORD
      PGUSER: $DATABASE_USER
      POSTGRES_USER: $DATABASE_USER
      POSTGRES_DB: $DATABASE_NAME
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      # Números mágicos, podem não funcionar se o processo demorar mais
      interval: 5s
      timeout: 20s
      retries: 10
    ports:
      - "$DATABASE_PORT"
      - 54320:5432


  # server:
  #   build: . 
  #   depends_on:
  #     db:
  #       condition: service_healthy
  #       restart: true
  #   restart: on-failure
  #   ports:
  #     - "3000:3000"

