* {
    margin:0;
    padding:0;
}

:root {
    --font: "Quicksand";
    --cor-primaria: #123181;
    --cor-secundaria: #51ACDF;
    --cor-secundaria-1: #D3D3D3;
    --cor-secundaria-2: #DAC039;
    --cor-secundaria-3: #FF3535;
		--cor-secundaria-4: #76D280;
    --cor-fundo: #FFFFFF;

    --text-1: #FFFFFF;
		--input-border: #cfd2d5;
    /* --cor-texto-principal: #444444; */
    /* --branco: #FAFAFA; */
    /* --cinza: #EAEAEA; */
    /* --laranja: #FF734C; */
    /* --verde: #41A86A; */
}

html, body {
    min-width: 100%;
    min-height: 100%;
}

body{
    font-family: var(--font);
    color:var(--cor-primaria);
    height: 100vh;
}
